@model TwinsFashion.Models.ProductViewModel

<!-- Header -->
@{

    var headerViewData = new ViewDataDictionary(ViewData);

    @await Html.PartialAsync("_Header", null, headerViewData);
}
<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                        <div class="slick3 gallery-lb">
                            @if (Model.ImageUrls != null && Model.ImageUrls.Any())
                            {
                                foreach (var imageUrl in Model.ImageUrls)
                                {
                                    <div class="item-slick3" data-thumb="@imageUrl">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="@imageUrl" alt="IMG-PRODUCT">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@imageUrl">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.Name
                    </h4>
                    <span class="mtext-106 cl2">
                        @Model.Price.ToString("C")
                    </span>
                    <h5 class="stext-102 cl3 p-t-23">
                        @Model.Description
                    </h5>
                    <p><b>Категория:</b> @Model.Category</p>
					<div class="form-group mt-2">
						<form asp-action="AddToCart" asp-controller="Home" method="post">
							<input asp-for="Id" type="hidden" />
							<input asp-for="Name" type="hidden" />
							<input asp-for="Price" type="hidden" />
							<input asp-for="Description" type="hidden" />
							<input asp-for="Category" type="hidden" />
                            @if (Model.ImageUrls != null)
                            {
                                foreach (var url in Model.ImageUrls)
                                {
                                    <input type="hidden" name="ImageUrls" value="@url" />
                                }
                            }
							<div class="form-group">
								<label asp-for="Size">Размер</label>
                                <select asp-for="Size" class="form-control" multiple="false">
                                    <option value="" disabled>Изберете опция</option>
                                    @foreach (var size in @Model.Sizes)
                                    {
                                        <option value="@size">@size</option>
                                    }
                                </select>                                 
							</div>
							<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail mt-2">
								Добави в количката
							</button>
						</form>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>